/**
 * @package Site Template
 * @subpackage Riviera
 * @since Riviera 1.0
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */


/* ---------- Large Monitor (Note: Design for a width more than 1440px) ---------- */

@media only screen and (min-width: 1440px) {
	
	.header_html_inner, 
	.container,
	#footer,
	.wrap_nav.navi_scrolled nav {width:1240px;}
	
	#navigation > li > a > span {min-width:155px;}
	
	.responsive_content_block h1 {
		font-size:50px;
		line-height:60px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:40px;
		margin-bottom:40px;
	}
	
	.responsive_content_block h2 {
		font-size:34px;
		line-height:38px;
	}
	
	.responsive_content_block h3 {
		font-size:30px;
		line-height:36px;
	}
	
	.responsive_content_block h4 {
		font-size:22px;
		line-height:28px;
	}
	
	.responsive_content_block h5 {
		font-size:18px;
		line-height:24px;
	}
	
	.responsive_content_block h6 {
		font-size:18px;
		line-height:24px;
	}
	
	.responsive_content_block p {
		font-size:17px;
		line-height:26px;
	}
	
}


/* ---------- Tablet Portrait (Note: Design for a width more than 767px but less than 1024px) ---------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	input[type="text"], 
	textarea {width:93%;}
	
	#bottom input[type="text"],
	#bottom textarea {width:87%;}
	
	.cmsms-form-builder select {width:70%;}
	
	#sidebar .widget .ovh {overflow:visible;}
	
	.post .cmsms_post_left_column, 
	.archive .project .cmsms_post_left_column, 
	.post .cmsms_post_right_column, 
	.archive .project .cmsms_post_right_column {
		width:100%;
		float:none;
		margin-bottom:20px;
	}
	
	.post .entry-header, 
	.archive .project .entry-header {margin-bottom:20px;}
	
	.comment-reply-link,
	#comments .comment-body .published,
	.comment-body h4 {
		display:block;
		float:none;
		clear:both;
		padding-left:0;
	}
	
	.comment-reply-link {display:inline-block;}
	
	.opened-article .project.cmsms_three .resize > figure {
		width:100%;
		float:none;
		padding:0;
		margin-bottom:20px;
	}
	
	.tab.lpr .tabs li,
	.tab .tabs li {
		margin:0;
	}
	
}


/* ---------- Small Tablet (Note: Design for a width more than 540px but less than 768px) ---------- */

@media only screen and (min-width: 541px) and (max-width: 768px) {
	
	.one_fourth {
		width:46%;
		float:left;
	}
	
	.portfolio.four_columns .project:nth-child(odd), 
	.post_type_shortcode.four_columns article:nth-child(odd),
	.cmsms_sitemap_archive li:nth-child(odd),  
	.cmsms_sitemap > li > ul > li:nth-child(odd) {
		float:left;
		width:48%;
		padding-right:4%;
	}
	
	.portfolio.four_columns .project:nth-child(even),  
	.post_type_shortcode.four_columns article:nth-child(even), 
	.cmsms_sitemap_archive li:nth-child(even), 
	.cmsms_sitemap > li > ul > li:nth-child(even) {
		float:right;
		width:48%;
		padding-right:0;
	}
	
	.portfolio.four_columns .project:nth-child(odd), 
	.post_type_shortcode.four_columns article:nth-child(odd),
	.portfolio.four_columns .project:nth-child(even),  
	.post_type_shortcode.four_columns article:nth-child(even) {
		width:46%;
		padding:2%;
		margin-bottom:20px;
	}
	
	.cl_resp, 
	.divider_resp {display:block;}
	
}


@media only screen and (max-width: 1440px) {
	.responsive_content_block h1 {
		font-size:45px;
		line-height:52px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:30px;
		margin-bottom:30px;
	}
	
	.responsive_content_block h2 {
		font-size:32px;
		line-height:34px;
	}
	
	.responsive_content_block h3 {
		font-size:28px;
		line-height:34px;
	}
	
	.responsive_content_block h4 {
		font-size:20px;
		line-height:26px;
	}
	
	.responsive_content_block h5 {
		font-size:17px;
		line-height:22px;
	}
	
	.responsive_content_block h6 {
		font-size:17px;
		line-height:22px;
	}
	
	.responsive_content_block p {
		font-size:15px;
		line-height:22px;
	}
}


/* ---------- Small Monitor (Note: Design for a width less than 1152px) ---------- */

@media only screen and (max-width: 1151px) {
	
	.header_html_inner, 
	.container,
	#footer,
	.wrap_nav.navi_scrolled nav {width:90%;}
	
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {word-wrap:break-word;}
	
	.responsive_content_block h1 {
		font-size:42px;
		line-height:48px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:26px;
		margin-bottom:26px;
	}
	
	.responsive_content_block h2 {
		font-size:30px;
		line-height:34px;
	}
	
	.responsive_content_block h3 {
		font-size:26px;
		line-height:32px;
	}
	
	.responsive_content_block h4 {
		font-size:18px;
		line-height:24px;
	}
	
	.responsive_content_block h5 {
		font-size:16px;
		line-height:22px;
	}
	
	.responsive_content_block h6 {
		font-size:16px;
		line-height:22px;
	}
	
	.responsive_content_block p {
		font-size:15px;
		line-height:21px;
	}
	
}

/* ---------- Small Monitor (Note: Design for a width less than 1024px) ---------- */

@media only screen and (max-width: 1023px) {
	
	#header > .header_inner > a.logo {
		top:auto;
		left:auto;
	}
	
	#header > .header_inner {
		height:auto;
		min-height:1px;
	}
	
	#header .social_icons {
		top:auto;
		right:auto;
	}
	
	#content {width:67%;}
	
	#sidebar {
		width:29%;
		margin-left:4%;
	}
	
	.content_wrap:before {left:69%;}
	
	.content_wrap.l_sidebar #content {padding-left:4%;}
	
	.content_wrap.l_sidebar:before {left:31%;}
	
	.format-album.cmsms_four .resize figure:nth-child(odd) {
		float:left;
		width:48%;
		padding-right:4%;
	}
 
	.format-album.cmsms_four .resize figure:nth-child(even) {
		float:right;
		width:48%;
		padding-right:0;
	}
	
	.header_inner {
		text-align:left;
		height:auto !important;
	}
	
	#page #header > .header_inner > a.logo {
		left:auto;
		top:auto;
	}
	
	.logo {
		display:block;
		float:left;
		margin:20px 0 10px 40px;
		position:relative;
		left:auto;
		top:auto;
	}
	
	#header .social_icons {
		display:block;
		float:right;
		margin:30px 30px 25px 0;
		position:relative;
		left:auto;
		top:auto;
	}
	
	.wrap_nav + *,
	.wrap_nav.navi_scrolled {margin-top:0 !important;}
	
	.wrap_nav,
	.wrap_nav.navi_scrolled {
		border:0;
		border-bottom:0;
		background:none;
		padding:0;
		overflow:hidden;
		position:relative;
		opacity:1;
		-webkit-box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
		-moz-box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
		box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
	}
	
	body.cmsms_black .wrap_nav,
	body.cmsms_black .wrap_nav.navi_scrolled {
		border:0;
		background:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	
	.wrap_responsive_nav {
		border-top:1px solid #fffdf5;
		background:rgba(255, 255, 255, .7);
		width:100%;
		overflow:hidden;
		position:relative;
		-webkit-box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
		-moz-box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
		box-shadow:inset 0 -1px 0 0 rgba(131, 128, 109, .2);
	}
	
	body.cmsms_black .wrap_responsive_nav {
		border-top-color:rgba(255, 253, 245, .12);
		background:rgba(0, 0, 0, .6);
	}
	
	.responsive_nav  {
		border:0;
		background-color:#2e2e2e;
		display:block;
		width:36px;
		height:26px;
		float:right;
		margin:12px 35px 12px 0;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	
	body.cmsms_black .responsive_nav {background:#ffffff;}
	
	html.csstransitions .responsive_nav {
		-webkit-transition:background-color .3s ease-in-out;
		-moz-transition:background-color .3s ease-in-out;
		-ms-transition:background-color .3s ease-in-out;
		-o-transition:background-color .3s ease-in-out;
		transition:background-color .3s ease-in-out;
	}
	
	#page .responsive_nav:hover, 
	#page .responsive_nav.active {background-color:#edd225;}
	
	.responsive_nav span {
		background:url(../../images/resp_nav_but_bg.png) no-repeat 50% 50%;
		display:block;
		width:36px;
		height:26px;
	}
	
	body.cmsms_black .responsive_nav span {background-image:url(../../images/resp_nav_but_bg_black.png);}
	
	.wrap_nav nav, 
	body.cmsms_black .wrap_nav nav,
	.wrap_nav.navi_scrolled nav {
		border:0;
		background:none;
		display:block;
		width:auto;
		margin:0;
		padding:0;
		clear:both;
		overflow:hidden;
		position:relative;
	}
	
	#navigation {
		border-left:1px solid #fffdf5;
		border-right:1px solid #fffdf5;
		background:rgba(255, 255, 255, .5);
		display:none;
		width:100%;
		margin:0;
		overflow:hidden;
		position:relative;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	body.cmsms_black #navigation {
		border-left-color:rgba(0, 0, 0, .15);
		border-right-color:rgba(0, 0, 0, .15);
		border-bottom:1px solid rgba(131, 128, 109, .1);
		background:rgba(0, 0, 0, .4);
	}
	
	#navigation li {border-top:1px solid rgba(131, 128, 109, .1);}
	
	body.cmsms_black #navigation li {border-top-color:rgba(131, 128, 109, .22);}
	
	#navigation > li:first-child {border-top:0;}
	
	#navigation > li {float:none;}

	#navigation > li > a,
	body.cmsms_black #navigation > li > a,
	#navigation > li:last-child > a,
	body.cmsms_black #navigation > li:last-child > a {
		border:0;
		background:none;
		margin:0;
	}
	
	html.csstransitions #navigation > li > a,
	html.csstransitions body.cmsms_black #navigation > li > a,
	html.csstransitions #navigation > li:last-child > a,
	html.csstransitions body.cmsms_black #navigation > li:last-child > a {
		-webkit-transition:background-color .3s ease-in-out;
		-moz-transition:background-color .3s ease-in-out;
		-ms-transition:background-color .3s ease-in-out;
		-o-transition:background-color .3s ease-in-out;
		transition:background-color .3s ease-in-out;
	}

	#navigation > li > a:before,
	#navigation > li > a:after,
	#navigation ul li a:before,
	#navigation ul li a:after {
		content:'';
		background:none;
		display:block;
		width:3px;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
	
	#navigation > li > a:after,
	#navigation ul li > a:after {
		height:66%;
		top:17%;
	}
	
	html.csstransitions #navigation > li > a:before,
	html.csstransitions #navigation > li > a:after,
	html.csstransitions #navigation ul li a:before,
	html.csstransitions #navigation ul li a:after {
		-webkit-transition:background-color .3s ease-in-out;
		-moz-transition:background-color .3s ease-in-out;
		-ms-transition:background-color .3s ease-in-out;
		-o-transition:background-color .3s ease-in-out;
		transition:background-color .3s ease-in-out;
	}

	#navigation > li:hover > a,
	#navigation > li > a:hover,
	#navigation > li.current_page_item > a,
	#navigation > li.current_page_ancestor > a,
	#navigation > li.current-menu-ancestor > a {
		border:0;
		background:rgba(255, 255, 255, .7);
		margin:0;
	}

	body.cmsms_black #navigation > li:hover > a,
	body.cmsms_black #navigation > li > a:hover,
	body.cmsms_black #navigation > li.current_page_item > a,
	body.cmsms_black #navigation > li.current_page_ancestor > a,
	body.cmsms_black #navigation > li.current-menu-ancestor > a {
		border:0;
		background:rgba(0, 0, 0, .7);
		margin:0;
	}

	#navigation > li:hover > a:before,
	#navigation > li > a:hover:before,
	#navigation > li.current_page_item > a:before,
	#navigation > li.current_page_ancestor > a:before,
	#navigation > li.current-menu-ancestor > a:before,
	#navigation ul li:hover > a:before,
	#navigation ul li > a:hover:before,
	#navigation ul li.current_page_item > a:before,
	#navigation ul li.current_page_ancestor > a:before,
	#navigation ul li.current-menu-ancestor > a:before {background:#ffffff;}
	
	#navigation > li:hover > a:after,
	#navigation > li > a:hover:after,
	#navigation > li.current_page_item > a:after,
	#navigation > li.current_page_ancestor > a:after,
	#navigation > li.current-menu-ancestor > a:after,
	#navigation ul li:hover > a:after,
	#navigation ul li > a:hover:after,
	#navigation ul li.current_page_item > a:after,
	#navigation ul li.current_page_ancestor > a:after,
	#navigation ul li.current-menu-ancestor > a:after {background:#2e2e2e;}

	body.cmsms_black #navigation > li:hover > a:before,
	body.cmsms_black #navigation > li > a:hover:before,
	body.cmsms_black #navigation > li.current_page_item > a:before,
	body.cmsms_black #navigation > li.current_page_ancestor > a:before,
	body.cmsms_black #navigation > li.current-menu-ancestor > a:before,
	body.cmsms_black #navigation ul li:hover > a:before,
	body.cmsms_black #navigation ul li > a:hover:before,
	body.cmsms_black #navigation ul li.current_page_item > a:before,
	body.cmsms_black #navigation ul li.current_page_ancestor > a:before,
	body.cmsms_black #navigation ul li.current-menu-ancestor > a:before {background:#000000;}
	
	body.cmsms_black #navigation > li:hover > a:after,
	body.cmsms_black #navigation > li > a:hover:after,
	body.cmsms_black #navigation > li.current_page_item > a:after,
	body.cmsms_black #navigation > li.current_page_ancestor > a:after,
	body.cmsms_black #navigation > li.current-menu-ancestor > a:after,
	body.cmsms_black #navigation ul li:hover > a:after,
	body.cmsms_black #navigation ul li > a:hover:after,
	body.cmsms_black #navigation ul li.current_page_item > a:after,
	body.cmsms_black #navigation ul li.current_page_ancestor > a:after,
	body.cmsms_black #navigation ul li.current-menu-ancestor > a:after {background:#ffffff;}
	
	#navigation > li > a > span {
		text-align:left;
		padding:10px 50px 10px 45px;
	}

	#navigation > li:hover > a > span,
	#navigation > li > a:hover > span,
	#navigation > li.current_page_item > a > span,
	#navigation > li.current_page_ancestor > a > span,
	#navigation > li.current-menu-ancestor > a > span {padding:10px 50px 10px 45px;}

	#navigation ul {
		background:none;
		display:none;
		margin:0;
		visibility:visible;
		position:relative;
		left:auto;
		top:auto;
		opacity:1;
		filter:alpha(opacity=100);
	}

	body.cmsms_black #navigation ul {background:none;}

	html.csstransitions #navigation ul {
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
	}

	#navigation li:hover > ul {margin:0;}

	#navigation ul ul {
		margin:0;
		left:auto;
		top:auto;
	}

	#navigation ul ul:before {content:none;}

	#navigation ul li:hover > ul {margin:0;}
	
	#navigation ul li,
	body.cmsms_black #navigation ul li {
		border:0;
		border-top:1px solid rgba(131, 128, 109, .1);
	}
	
	body.cmsms_black #navigation ul li {border-top-color:rgba(131, 128, 109, .22);}

	#navigation ul > li:hover > a,
	#navigation ul > li > a:hover,
	#navigation ul > li.current_page_item > a,
	#navigation ul > li.current_page_ancestor > a,
	#navigation ul > li.current-menu-ancestor > a {background:rgba(255, 255, 255, .7);}

	body.cmsms_black #navigation ul > li:hover > a,
	body.cmsms_black #navigation ul > li > a:hover,
	body.cmsms_black #navigation ul > li.current_page_item > a,
	body.cmsms_black #navigation ul > li.current_page_ancestor > a,
	body.cmsms_black #navigation ul > li.current-menu-ancestor > a {background:rgba(0, 0, 0, .7);}

	#navigation ul li a span {
		padding:10px 50px 10px 65px;
		opacity:.7;
	}
	
	#navigation ul ul li a span {padding-left:85px;}
	
	#navigation ul ul ul li a span {padding-left:105px;}
	
	html.csstransitions #navigation ul li a span {
		-webkit-transition:opacity .3s ease-in-out;
		-moz-transition:opacity .3s ease-in-out;
		-ms-transition:opacity .3s ease-in-out;
		-o-transition:opacity .3s ease-in-out;
		transition:opacity .3s ease-in-out;
	}
	
	#navigation ul li:hover > a span,
	#navigation ul li > a:hover span,
	#navigation ul li.current_page_item > a span,
	#navigation ul li.current_page_ancestor > a span,
	#navigation ul li.current-menu-ancestor > a span {opacity:1;}
	
	#page #navigation li.dropdown > a > span:before {
		content:'';
		background:url(../../images/resp_nav_arrow.png) no-repeat 50% 0;
		width:7px;
		height:7px;
		position:absolute;
		right:40px;
		top:18px;
		-webkit-transition:background-position .3s ease-in-out;
		-moz-transition:background-position .3s ease-in-out;
		-ms-transition:background-position .3s ease-in-out;
		-o-transition:background-position .3s ease-in-out;
		transition:background-position .3s ease-in-out;
	}
	
	body.cmsms_black #page #navigation li.dropdown > a > span:before {background-image:url(../../images/resp_nav_arrow_black.png);}
	
	html.csstransitions #page #navigation li.dropdown > a > span:before {
		-webkit-transition:background-position .3s ease-in-out;
		-moz-transition:background-position .3s ease-in-out;
		-ms-transition:background-position .3s ease-in-out;
		-o-transition:background-position .3s ease-in-out;
		transition:background-position .3s ease-in-out;
	}	
	
	#page #navigation li.dropdown > a.drop_active > span:before {
		background-position:50% 100%;
		top:17px;
	}
	
	.one_sixth .wrap_fb_text, 
	.one_sixth .wrap_fb_but,
	.one_fifth .wrap_fb_text, 
	.one_fifth .wrap_fb_but,
	.two_fifth .wrap_fb_text, 
	.two_fifth .wrap_fb_but,
	.one_third .wrap_fb_text, 
	.one_third .wrap_fb_but {
		display:block;
		width:auto;
		text-align:center;
		padding:0;
	}
	
	.one_sixth .wrap_fb_but,
	.one_fifth .wrap_fb_but,
	.two_fifth .wrap_fb_but,
	.one_third .wrap_fb_but {padding:10px 0 0;}
	
	.one_fourth .tab.lpr .tabs li {
		display:block;
		width:auto;
		float:none;
		margin:0;
	}
	
	.project_content {width:64.1%;}
	
	.project_sidebar {width:32.4%;}
	
	.tab.lpr .tab_content .ovh {overflow:visible;}
	
	.footer_inner {text-align:center;}
	
	#footer .footer_inner > .copyright {
		float:none;
		text-align:center;
	}
	
	#footer .footer_nav {
		text-align:center;
		float:none;
		margin:0;
		padding:15px 0 0;
		overflow:hidden;
		clear:both;
	}
	
	#footer .social_icons {
		display:inline-block;
		float:none;
	}
	
	#footer .social_icons {margin:20px 0 -10px;}
	
	.responsive_content_block h1 {
		font-size:40px;
		line-height:46px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:24px;
		margin-bottom:24px;
	}
	
	.responsive_content_block h2 {
		font-size:28px;
		line-height:32px;
	}
	
	.responsive_content_block h3 {
		font-size:24px;
		line-height:30px;
	}
	
	.responsive_content_block h4 {
		font-size:16px;
		line-height:22px;
	}
	
	.responsive_content_block h5 {
		font-size:15px;
		line-height:20px;
	}
	
	.responsive_content_block h6 {
		font-size:15px;
		line-height:20px;
	}
	
	.responsive_content_block p {
		font-size:13px;
		line-height:18px;
	}
	
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {

	#page #navigation li.dropdown > a > span:before {
		background-image:url(../../images/retina/resp_nav_arrow@2x.png);
		background-size:7px 31px; 
	}
	
	body.cmsms_black #page #navigation li.dropdown > a > span:before {
		background-image:url(../../images/retina/resp_nav_arrow_black@2x.png);
		background-size:7px 31px; 
	}
	
	.responsive_nav span {
		background-image:url(../../images/retina/resp_nav_but_bg@2x.png);
		background-size:22px 10px; 
	}
	
	body.cmsms_black .responsive_nav span {
		background-image:url(../../images/retina/resp_nav_but_bg_black@2x.png);
		background-size:22px 10px; 
	}
	
}

@media only screen and (max-width: 1000px) {
	.responsive_content_block h1 {
		font-size:34px;
		line-height:40px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:20px;
		margin-bottom:20px;
	}
	
	.responsive_content_block h2 {
		font-size:26px;
		line-height:30px;
	}
	
	.responsive_content_block h3 {
		font-size:22px;
		line-height:28px;
	}
	
	.responsive_content_block h4 {
		font-size:15px;
		line-height:20px;
	}
	
	.responsive_content_block h5 {
		font-size:14px;
		line-height:18px;
	}
	
	.responsive_content_block h6 {
		font-size:14px;
		line-height:18px;
	}
	
	.responsive_content_block p {
		font-size:12px;
		line-height:17px;
	}
}

@media only screen and (max-width: 850px) {
	.responsive_content_block h1 {
		font-size:28px;
		line-height:32px;
	}
	
	.responsive_content_block h1.with_line {
		padding-bottom:15px;
		margin-bottom:15px;
	}
	
	.responsive_content_block h2 {
		font-size:24px;
		line-height:28px;
	}
	
	.responsive_content_block h3 {
		font-size:20px;
		line-height:26px;
	}
	
	.responsive_content_block h4 {
		font-size:14px;
		line-height:18px;
	}
	
	.responsive_content_block h5 {
		font-size:13px;
		line-height:18px;
	}
	
	.responsive_content_block h6 {
		font-size:13px;
		line-height:18px;
	}
	
	.responsive_content_block p {
		font-size:11px;
		line-height:16px;
	}
}

/* ---------- Small Tablet & Mobile (Note: Design for a width less than 768px) ---------- */

@media only screen and (max-width: 767px) {

	.container {overflow:hidden;}
	
	#content,
	.content_wrap.l_sidebar #content,
	#sidebar, 
	.content_wrap.l_sidebar #sidebar {
		width:100%;
		float:none;
		padding:0;
		margin:0;
	}
	
	.content_wrap:before {
		content:none;
		display:none;
	}
	
	#content,
	.content_wrap.l_sidebar #content {padding-bottom:40px;}
	
	#sidebar,
	.content_wrap.l_sidebar #sidebar {padding-top:40px;}
	
	#sidebar:before {
		content:'';
		background:rgba(131, 128, 109, .1);
		width:100%;
		height:1px;
		position:absolute;
		top:0;
		left:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	body.cmsms_black #sidebar:before {background:rgba(131, 128, 109, .2);}
	
	.one_first.right_column,
	.one_half.right_column,
	.one_third.right_column,
	.two_third.right_column,
	.one_fourth.right_column,
	.three_fourth.right_column,
	.one_sixth.right_column,
	.one_fifth.right_column,
	.two_fifth.right_column,
	.three_fifth.right_column,
	.four_fifth.right_column,
	.five_sixth.right_column,
	.one_first.first_column.right_column, 
	.five_sixth.first_column.right_column, 
	.four_fifth.first_column.right_column, 
	.three_fourth.first_column.right_column, 
	.two_third.first_column.right_column, 
	.three_fifth.first_column.right_column, 
	.one_half.first_column.right_column, 
	.two_fifth.first_column.right_column, 
	.one_third.first_column.right_column, 
	.one_fourth.first_column.right_column, 
	.one_fifth.first_column.right_column, 
	.one_sixth.first_column.right_column {float:none;}
	
	.one_sixth,
	.one_fifth,
	.two_fifth,
	.three_fifth,
	.four_fifth,
	.five_sixth,
	.one_half, 
	.one_third, 
	.two_third, 
	.three_fourth {
		float:none;
		width:96%;
		margin:0 2% 20px;
		clear:both;
	}
	
	.portfolio.three_columns .project {
		width:96%;
		float:none;
		padding:2%;
		margin-bottom:20px;
	}
	
	.post .cmsms_post_left_column, 
	.archive .project .cmsms_post_left_column, 
	.post .cmsms_post_right_column, 
	.archive .project .cmsms_post_right_column {
		width:100%;
		float:none;
		margin-bottom:20px;
	}
	
	.post .entry-header, 
	.archive .project .entry-header {margin-bottom:20px;}
	
	.project_content,
	.project_sidebar {
		float:none;
		width:100%;
	}
	
	.error h1 {font-size:14em;}
	
	.cmsms_sitemap > li > ul > li,
	.cmsms_sitemap_category > li > ul > li {margin-bottom:20px;}
	
	.cmsms_sitemap > li > ul > li > ul,
	.cmsms_sitemap_category > li > ul {margin-left:20px;}
	
	.wrap_fb_text, 
	.wrap_fb_but {
		display:block;
		width:auto;
		text-align:center;
		padding:0;
	}
	
	.wrap_fb_but {padding:10px 0 0;}
	
	#footer p {padding-bottom:20px;}
	
	.tab.lpr .tab_content .ovh {overflow:hidden;}
	
	.wrap_lay_slider .button {display:none;}
	
}

/* ---------- Mobile (Note: Design for a width less than 541px) ---------- */

@media only screen and (max-width: 540px) {
	
	div.jp-video div.jp-current-time, 
	div.jp-audio div.jp-current-time, 
	div.jp-video div.jp-time-sep, 
	div.jp-audio div.jp-time-sep, 
	div.jp-video div.jp-duration, 
	div.jp-audio div.jp-duration {display:none;}
	
	.one_fourth {width:96%;}
	
	.portfolio.two_columns .project, 
	.portfolio.four_columns .project:nth-child(odd), 
	.portfolio.four_columns .project:nth-child(even), 
	.format-album.cmsms_four .resize figure:nth-child(odd), 
	.format-album.cmsms_four .resize figure:nth-child(even), 
	.post_type_shortcode.four_columns article:nth-child(odd), 
	.post_type_shortcode.four_columns article:nth-child(even),
	.cmsms_sitemap_archive li:nth-child(odd),  
	.cmsms_sitemap_archive li:nth-child(even), 
	.cmsms_sitemap > li > ul > li:nth-child(odd),
	.cmsms_sitemap > li > ul > li:nth-child(even) {
		float:none;
		padding-right:0;
		width:100%;
	}
	
	.portfolio.two_columns .project, 
	.portfolio.four_columns .project:nth-child(odd), 
	.portfolio.four_columns .project:nth-child(even), 
	.format-album.cmsms_four .resize figure:nth-child(odd), 
	.format-album.cmsms_four .resize figure:nth-child(even), 
	.post_type_shortcode.four_columns article:nth-child(odd), 
	.post_type_shortcode.four_columns article:nth-child(even) {
		padding:2%;
		width:96%;
		margin-bottom:20px;
	}
	
	#stlChanger {display:none;}
	
	.header_html_inner,
	#header,
	#top, 
	.headline,
	.cmsms_breadcrumbs,
	.middle_inner,
	#bottom,
	.footer_inner {
		padding-left:20px;
		padding-right:20px;
	}
	
	#cmsms_latest_bottom_tweets {
		background-position:25px 50%;
		padding-left:65px;
		padding-right:60px;
	}
	
	#cmsms_latest_bottom_tweets .cmsms_content_prev_slide, 
	#cmsms_latest_bottom_tweets .cmsms_content_next_slide {right:20px;}
	
	#navigation > li > a > span,
	#navigation > li:hover > a > span,
	#navigation > li > a:hover > span,
	#navigation > li.current_page_item > a > span,
	#navigation > li.current_page_ancestor > a > span,
	#navigation > li.current-menu-ancestor > a > span {padding-left:25px;}
	
	#navigation ul li a span {padding-left:45px;}
	
	#navigation ul ul li a span {padding-left:65px;}
	
	#navigation ul ul ul li a span {padding-left:85px;}
	
	.error .search_line {width:100%;}
	
	.error h1 {font-size:9em;}
	
	select {width:200px;}
	
	.cmsms-form-builder .cmsms_input,
	#commentform input[type="text"],
	#commentform textarea,
	.cmsms-form-builder input[type="text"] {width:95%;}
	
	#commentform label {
		display:block;
		padding-left:0;
	}
	
	.cmsms-form-builder select {width:70%;}
	
	.pj_sort {padding:0 0 0 20px;}
	
	.pj_sort > a {margin-bottom:20px;}
	
	div.pj_filter {padding:0 0 0 20px;}
	
	.opened-article .project.cmsms_two .resize > figure,
	.opened-article .project.cmsms_three .resize > figure {
		width:100%;
		float:none;
		padding:0;
		margin:0 0 20px;
	}
	
	.featured_block > .wrap_fb_text {
		display:block;
		padding-right:0;
	}
	
	.featured_block > .wrap_fb_but {
		text-align:center;
		display:block;
		margin-top:20px;
	}
	
	.tour,
	.tour_box_content {
		display:block;
		width:100%;
		float:none;
	}
	
	.tour li,
	.tour li:first-child {
		margin:1px 0 1px 3px;
	}
	
	.tour.active li.current:first-child a, 
	.tour li:first-child a, 
	.tour li.current a {border-right-color:#e6e6e6;}
	
	.tab .tabs li,
	.tab.lpr .tabs li {
		float:none;
		margin:0;
		width:100%;
	}
	
	.testimonials .testimonial .tl-content blockquote {padding:70px 25px 25px;}
	
	.testimonials .testimonial .button {
		float:left;
		clear:both;
	}
	
	.testimonial .published {float:left;}
	
	.comment-reply-link,
	#comments .comment-body .published,
	.comment-body h4 {
		display:block;
		float:none;
		clear:both;
		padding-left:0;
	}
	
	.comment-reply-link {display:inline-block;}
	
	.responsive_nav {
		float:none;
		margin:12px auto;
	}
	
	#header {
		padding-top:40px;
		padding-bottom:35px;
	}
	
	#header:before {
		content:'';
		background:#2e2e2e;
		width:38%;
		height:3px;
		position:absolute;
		left:31%;
		top:auto;
		bottom:0;
	}
	
	.header_inner {
		border-right:0;
		text-align:center;
	}
	
	.logo,
	#header .social_icons {
		display:block;
		float:none;
		margin:0 auto;
	}
	
	#header .social_icons {margin-top:30px;}
	
}


/* ---------- Mobile (Note: Design for a width less than 401px) ---------- */

@media only screen and (max-width: 400px) {
	
	.gallery-item {width:100% !important;}
	
	#footer .footer_nav > li {
		display:block;
		float:left;
		padding:0;
		width:45%;
	}
	
	.error h1 {font-size:8em;}
	
	div.pj_filter {padding:0 0 0 20px;}
	
	.related_posts ul li {
		float:none;
		margin:0;
	}
	
	.related_posts ul li a {width:100%;}
	
	.comment-authorinfo {clear:both;}
	
}


/* ---------- Mobile (Note: Design for a width less than 360px) ---------- */

@media only screen and (max-width: 360px) {
	
	.error h1 {font-size:5em;}
	
	.comment-body .ovh,
	.widget div.ovh {overflow:visible;}
	
	#navigation ul li a span {min-height:18px;}
	
	#footer .footer_nav > li {
		float:none;
		width:auto;
	}
	
	ul.cmsms_details > li {padding-left:10px;}
	
	.pj_sort,
	div.pj_filter {
		float:left;
		padding:0;
	}
	
	.tab.lpr .tab_content .ovh {overflow:visible;}
	
}

